.page {
   &__container {
   }
   &__main {
      @include adaptivValue("padding-top", 253, 100, 1);
   }
   &__footwear {
      @include adaptivValue("padding-top", 279, 80, 1);
      @include adaptivValue("padding-bottom", 115, 35, 1);
   }
   &__sellers {
      @include adaptivValue("padding-top", 115, 35, 1);
      @include adaptivValue("padding-bottom", 86, 35, 1);
   }
   &__time {
      @include adaptivValue("padding-top", 86, 35, 1);
      @include adaptivValue("padding-bottom", 119, 35, 1);
   }
   &__provide {
      @include adaptivValue("padding-top", 119, 35, 1);
      @include adaptivValue("padding-bottom", 117, 70, 1);
   }
   &__favorite {
      @include adaptivValue("padding-top", 119, 35, 1);
      @include adaptivValue("padding-bottom", 165, 30, 1);
   }
   &__sponsors {
      @include adaptivValue("padding-top", 165, 30, 1);
      @include adaptivValue("padding-bottom", 200, 35, 1);
   }
   &__best {
      @include adaptivValue("padding-top", 200, 35, 1);
      @include adaptivValue("padding-bottom", 138, 30, 1);
   }
   &__visionries {
      @include adaptivValue("padding-top", 138, 30, 1);
      @include adaptivValue("padding-bottom", 144, 30, 1);
   }
   &__join {
      @include adaptivValue("padding-top", 144, 30, 1);
      @include adaptivValue("padding-bottom", 177, 30, 1);
   }
   &__advantage {
      @include adaptivValue("padding-top", 177, 60, 1);
      @include adaptivValue("padding-bottom", 137, 60, 1);
   }
}

.content-main__title._active,
.content-main__price._active,
.size-block._active,
.content-main__btn._active,
.content-main__more._active {
   opacity: 1;
   transform: translate(0, 0);
}
.main__decor-title._active {
   opacity: 0.1;
   transform: translate(0, 0);
}

.main {
   position: relative;
   background:
      linear-gradient(180deg, rgba(13, 13, 14, 0.9) 0%),
      url("../img/main/background.png") 50% / cover no-repeat;
   &__container {
   }
   &__block {
      display: flex;
      justify-content: center;
      align-items: center;
      @include adaptivValue("gap", 90, 45, 1);
      position: relative;
      @include adaptivValue("margin-bottom", 85, 0, 1);
      @media (max-width: $md2) {
         flex-direction: column;
      }
   }
   &__decor-title {
      font-family: $secondFont;
      font-weight: 700;
      @include adaptivValue("font-size", 150, 60, 1);
      line-height: 100%;
      background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      position: absolute;
      opacity: 0;
      pointer-events: none;
      transform: translate(0, -50%);
      transition: all 1.3s ease;
      @media (max-width: $md4) {
         top: 33%;
      }
      &._hide {
         transform: translate(0, -50%);
         opacity: 0;
      }
      &._anim-end {
         transform: translate(0, 0%);
         opacity: 0.1;
         transition: all 0.5s ease;
      }
   }
   &__rotate-block {
   }
   &__content {
   }
   &__slider {
   }
   &__image {
      &_line {
      }
   }
   &__flash-block {
   }
}
.rotate-block {
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
   z-index: 2;
   @media (max-width: $md1) {
      max-width: rem(450);
   }
   &._rotate {
      .rotate-block__image {
         img {
            transform: rotate(30deg) scaleX(-1);
            @media (max-width: $md3) {
               transform: rotate(30deg) scaleX(-1) translate(-5%, 0);
            }
         }
      }
   }
   &__image {
      margin-bottom: rem(50);
      transform: rotate(-15deg) scaleX(1) translate(0, 0);
      opacity: 1;
      transition: all 0.3s ease;

      min-width: rem(570);
      min-height: rem(308);
      max-width: rem(571);
      max-height: rem(309);
      @media (max-width: $md1) {
         min-width: rem(500);
         min-height: rem(276);
         max-width: rem(501);
         max-height: rem(277);
      }
      @media (max-width: $md2) {
         min-width: rem(630);
         min-height: rem(348);
         max-width: rem(631);
         max-height: rem(349);
         transform: rotate(-15deg) scaleX(1) translate(-5%, 0);
      }
      @media (max-width: $md3) {
         min-width: rem(440);
         min-height: rem(243);
         max-width: rem(441);
         max-height: rem(244);
      }
      @media (max-width: $md4) {
         min-width: rem(280);
         min-height: rem(154);
         max-width: rem(281);
         max-height: rem(155);
         margin-bottom: rem(30);
      }
      &._hide {
         transform: rotate(-15deg) scaleX(1) translate(30%, -40%);
         opacity: 0;
      }
      img {
         position: relative;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         object-fit: cover;
      }
   }
   &__rotate {
      margin-left: rem(35);
      position: relative;
      @media (max-width: $md3) {
         margin-left: 0;
      }
      img {
         position: relative;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         object-fit: cover;
      }
   }
}
.rotate_icon {
   position: absolute;
   bottom: rem(-33);
   left: 50%;
   transform: translate(-50%, 0px);
   font-size: rem(21);
   cursor: pointer;
   @media (max-width: $md3) {
      font-size: rem(16);
   }
}
.content-main {
   @media (max-width: $md2) {
      width: 100%;
   }
   & > *:not(:last-child) {
      @include adaptivValue("padding-bottom", 32, 12, 1);
   }
   &__title {
      font-family: $fiveFont;
      font-style: italic;
      font-weight: 700;
      @include adaptivValue("font-size", 48, 28, 1);
      line-height: 100%;
      letter-spacing: 0.16em;
      color: $mainColor;
      max-width: rem(500);
      transform: translate(0, -50%);
      opacity: 0;
      transition: all 1s ease 0.1s;
      @media (max-width: $md2) {
         max-width: none;
      }
      &._anim-end {
         transition: all 0.5s ease;
      }
      &._hide {
         transform: translate(0, -50%);
         opacity: 0;
      }
   }
   &__info {
      display: flex;
      align-items: center;
      width: 100%;
      @media (min-width: $md2) {
         max-width: rem(423);
      }
   }
   &__price {
      display: inline-block;
      font-family: $fourFont;
      font-weight: 900;
      @include adaptivValue("font-size", 36, 24, 1);
      line-height: 100%;
      color: $mainColor;
      transform: translate(0, -50%);
      opacity: 0;
      transition: all 1s ease 0.2s;
      &._anim-end {
         transition: all 0.5s ease;
      }
      &._hide {
         transform: translate(0, -50%);
         opacity: 0;
      }
   }
   &__size-block {
   }
   &__btn {
      font-size: rem(20);
      margin-left: rem(57);
      transition: color 0.3s ease;
      cursor: pointer;
      opacity: 0;
      transition: all 1s ease 0.3s;
      &._anim-end {
         transition: all 0.3s ease;
      }
      @media (any-hover: hover) {
         &:hover {
            color: $secondColor;
         }
      }
   }
   &__more {
      transform: translate(-50%, 0);
      opacity: 0;
      transition: transform 1s ease 0.5s, opacity 1s ease 0.5s, color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
      padding: rem(13) rem(16);
      @media (max-width: $md4) {
         padding: rem(10) rem(12);
      }
      &::after {
         padding-left: rem(13);
      }
   }
}
.size-block {
   display: flex;
   align-items: center;
   gap: rem(19);
   margin-left: auto;
   opacity: 0;
   transition: all 1s ease 0.4s;
   position: relative;
   z-index: 2;
   &__sub-title {
      font-family: $secondFont;
   }
   &__size {
      font-family: $fourFont;
      font-weight: 900;
      @include adaptivValue("font-size", 36, 24, 1);
      position: relative;
   }
}
.slider-main {
   display: flex;
   @include adaptivValue("gap", 92, 30, 1);
   &__slider {
      min-width: 0;
      margin-right: rem(-40);
   }
   &__buttons {
      display: flex;
      align-items: flex-end;
      gap: rem(44);
      @media (max-width: $md3) {
         display: none;
      }
   }
   &__button {
      font-family: $secondFont;
      line-height: 100%;
      text-transform: capitalize;
      position: relative;
      margin-bottom: rem(109);
      font-size: rem(15);
      transition: color 0.3s ease;
      @media (any-hover: hover) {
         &:hover {
            color: $secondColor;
         }
      }
      &_prev {
         display: flex;
         gap: rem(20);
         &::before {
            display: inline-block;
            transform: rotate(180deg);
         }
      }
      &_next {
         &::after {
            @extend %ic;
            content: "\e900";
            padding-left: rem(20);
         }
      }
   }
   &__wrapper {
      display: flex;
      align-items: flex-end;
      height: rem(266);
      @media (max-width: $md3) {
         height: rem(230);
      }
   }
   &__slide {
      height: rem(195);
      @media (max-width: $md3) {
         height: rem(150);
      }
   }
}
.slide-slider-main {
   padding: 0 rem(50) rem(52) rem(15);
   border: rem(2) solid $mainColor;
   @media (max-width: $md3) {
      padding: 0 rem(35) rem(36) rem(15);
   }
   &_1 {
   }
   &_2 {
   }
   &_3 {
   }
   &_4 {
   }
   &__image {
      margin-top: rem(-41);
      margin-bottom: rem(40);
      img {
         height: rem(117);
         max-width: rem(229);
      }
   }
   &__title {
      font-family: $mainFont;
      font-size: rem(24);
      line-height: 0%;
      text-transform: uppercase;
      margin-left: rem(17);
   }
}
.flash-block {
   position: absolute;
   left: 0;
   margin-top: rem(-10);
   &__wrapper {
      position: relative;
   }
   &__flash {
   }
}
.flash-main {
   position: absolute;
   top: 0;
   overflow: hidden;
   user-select: none;
   display: flex;
   gap: rem(250);
   @media (max-width: $md1) {
      gap: rem(200);
   }
   @media (max-width: $md2) {
      gap: rem(160);
   }
   @media (max-width: $md3) {
      padding: rem(12) 0;
      gap: rem(120);
   }
   @media (max-width: $md4) {
      gap: rem(70);
   }
   padding: rem(24) 0;
   width: 100vw;
   background-color: #000;
   z-index: 2;
   transform: rotate(3deg);
   &_red {
      background-color: $secondColor;
      z-index: 1;
      transform: rotate(-3deg);
   }
   ul {
      flex-shrink: 0;
      min-width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: rem(250);
      @media (max-width: $md1) {
         gap: rem(200);
      }
      @media (max-width: $md2) {
         gap: rem(160);
      }
      @media (max-width: $md3) {
         gap: rem(120);
      }
      @media (max-width: $md4) {
         gap: rem(70);
      }
      animation: scrollLine 14s linear infinite;

      span {
         font-family: $thirdFont;
         font-style: italic;
         font-weight: 400;
         @include adaptivValue("font-size", 32, 18, 1);
         letter-spacing: 1em;
      }
   }
   &:last-child {
      ul {
         animation: scrollLineReverse 14s linear infinite;
      }
   }
}
@keyframes scrollLine {
   to {
      transform: translateX(calc(-100% - 250px));
   }
}
@keyframes scrollLineReverse {
   from {
      transform: translateX(calc(-100% - 250px));
   }
   to {
      transform: translateX(0);
   }
}

// ===================================================================

.footwear {
   &__container {
      display: flex;
      justify-content: center;
      max-width: rem(1283);
      position: relative;
   }
   &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      & > *:not(:last-child) {
         @include adaptivValue("margin-bottom", 80, 30, 1);
      }
   }
   &__title {
      font-family: $fiveFont;
      font-weight: 500;
      @include adaptivValue("font-size", 64, 30, 1);
      line-height: 156%;
      text-align: center;
      max-width: rem(611);
   }
   &__texts {
      transform: translate(0, 50%);
      opacity: 0;
      transition: all 1s ease 0.2s;
      @media (max-width: $md4) {
         transform: translate(0, 10%);
         transition: all 1s ease 0.2s;
      }
      &:last-child {
         line-height: 150%;
      }
   }
   &__text {
      font-family: $secondFont;
      font-style: normal;
      line-height: 300%;
      text-align: center;
      max-width: rem(1064);
      @media (max-width: $md3) {
         line-height: 250%;
      }
      @media (max-width: $md4) {
         line-height: 200%;
      }
   }
   &__button {
      padding: rem(16) rem(24.5);
      transform: translate(0, 50%);
      opacity: 0;
      transition: tranaform 1s ease 0.3s, opacity 1s ease, color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
      @media (max-width: $md4) {
         transition: tranaform 1s ease, opacity 1s ease, color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
      }
      &::after {
         padding-left: rem(7);
      }
   }
   &__decor {
      position: absolute;
      bottom: -53%;
      left: -33%;
      z-index: -1;
      @media (max-width: $md4) {
         bottom: -13%;
      }
      img {
         position: relative;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
         @include adaptivValue("width", 832, 200, 1);
      }
   }
}
.title-footwear {
   display: flex;
   flex-direction: column;
   align-items: center;
   &__line {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include adaptivValue("column-gap", 28, 14, 1);
      picture {
         display: inline-flex;
      }
      img {
         @include adaptivValue("width", 72, 34, 1);
      }
   }
   &__first-line {
      align-items: flex-end;
      transform: translate(0, 50%);
      opacity: 0;
      transition: all 1s ease;
   }
   &__middle-line {
      position: relative;
      display: inline-block;

      transform: translate(0, 50%);
      opacity: 0;
      transition: all 1s ease 0.15s;

      background: linear-gradient(11deg, $mainColor 0%, $mainColor 61.8%, $secondColor 61.8%, $secondColor 100%);

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      background-clip: text;
      text-fill-color: transparent;
   }
   &__last-line {
      transform: translate(0, 50%);
      opacity: 0;
      transition: all 1s ease 0.3s;
   }
}

.footwear__title._active > span,
.footwear__texts._active,
.footwear__button._active {
   transform: translate(0, 0);
   opacity: 1;
}

// ===================================================================

.sellers {
   &__container {
   }
   &__content {
      @include adaptivValue("margin-bottom", 107, 30, 1);
   }
   &__title {
      font-family: $fiveFont;
      font-weight: 500;
      @include adaptivValue("font-size", 64, 30, 1);
      line-height: 100%;
      text-align: center;

      background: linear-gradient(90deg, $mainColor 0, $mainColor 50%, transparent 50%, transparent 100%),
         linear-gradient(11deg, $mainColor 0, $mainColor 51.8%, $secondColor 51.8%, $secondColor 100%);

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      background-clip: text;
      text-fill-color: transparent;

      transform: translate(0, 50%);
      opacity: 0;
      transition: all 1s ease;
   }
   &__items {
   }
}
.items-sellers {
   &__row {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      column-gap: rem(16);
      row-gap: rem(30);
   }
   &__item {
   }
}
.item-sellers {
   transform: translate(0, 15%);
   opacity: 0;
   transition: all 1s ease 0.2s;
   position: relative;
   @media (max-width: $md2) {
      transform: translate(0, 10%);
   }
   &__image {
      img {
         position: relative;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   &__title {
      color: transparent;
      -webkit-text-stroke: rem(0.5) $mainColor;
      font-family: $fourFont;
      font-style: italic;
      font-weight: 700;
      @include adaptivValue("font-size", 64, 40, 1);
      line-height: 100%;
      position: absolute;
      right: 3%;
      bottom: 1.5%;
   }
}

.sellers__title._active,
.item-sellers._active {
   transform: translate(0, 0);
   opacity: 1;
}

// ===================================================================

.time {
   &__content {
   }
   &__title {
      font-family: $thirdFont;
      font-style: italic;
      @include adaptivValue("font-size", 96, 40, 1);
      text-transform: capitalize;
      text-align: center;
      transform: rotate(-11deg) translate(6%, 0);
      @include adaptivValue("margin-bottom", 120, 35, 1);
      span {
         &:first-child {
            display: inline-block;
            transform: translate(0, 50%);
            opacity: 0;
            transition: all 1s ease;
         }
         &:last-child {
            display: inline-block;
            color: transparent;
            -webkit-text-stroke: rem(0.5) $mainColor;
            transform: translate(-52%, 100%);
            opacity: 0;
            transition: all 1s ease 0.2s;
         }
      }
   }
   &__items {
   }
   &__actions {
      display: flex;
      justify-content: center;
   }
   &__button {
      transform: translate(0, 50%);
      opacity: 0;
      transition: opacity 1s ease, transform 1s ease, color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
      padding: rem(18) rem(24);
      @media (max-width: $md4) {
         padding: rem(14) rem(21);
      }
      &::after {
         padding-left: rem(7);
      }
   }
}
.items-time {
   @include adaptivValue("margin-bottom", 120, 35, 1);

   &__row {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      @media (max-width: $md2) {
         justify-content: center;
      }
      gap: rem(47);
      &:not(:last-child) {
         @include adaptivValue("margin-bottom", 51, 30, 1);
      }
      &:nth-child(even) {
         @media (min-width: $md2) {
            justify-content: flex-end;
         }
      }
   }
   &__item {
   }
}
.item-time {
   transform: translate(0, 50%);
   opacity: 0;
   transition: opacity 1s ease, transform 1s ease, color 0.3s ease, background-color 0.3s ease;
   cursor: pointer;
   @media (any-hover: hover) {
      &:hover {
         .item-time__title {
            color: $secondColor;
         }
      }
   }
   &__product-image {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include adaptivValue("margin-bottom", 16, 8, 1);
      position: relative;
   }
   &__image {
      position: relative;
      z-index: 2;
      img {
         position: relative;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   &__desk {
      margin-top: rem(-35);
      position: relative;
      z-index: 1;
      img {
         position: relative;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   &__title {
      @include adaptivValue("font-size", 24, 16, 1);
      text-transform: capitalize;
      text-align: center;
      font-style: normal;
      transition: color 0.3s ease;
      a {
         color: inherit;
      }
   }
}

.item-time._active,
.time__button._active {
   opacity: 1;
   transform: translate(0, 0);
}
.time__title._active {
   span {
      transform: translate(0, 0);
      opacity: 1;
      &:last-child {
         transform: translate(-52%, 50%);
      }
   }
}

// ===================================================================

.provide {
   &__container {
      display: flex;
      align-items: center;
      @include adaptivValue("gap", 131, 40, 1);
      @media (max-width: $md2) {
         flex-direction: column-reverse;
      }
   }
   &__image {
      position: relative;
      @media (max-width: $md2) {
         align-self: center;
      }
      img {
         position: relative;
         top: 0;
         left: 0;
         object-fit: cover;
         @media (max-width: $md3) {
            width: rem(330);
         }
      }
      &::before {
         content: "";
         position: absolute;
         top: rem(-12);
         left: rem(35);
         border-radius: rem(111);
         width: rem(357);
         height: rem(357);
         filter: blur(rem(160));
         mix-blend-mode: hard-light;
         background-color: $secondColor;
         z-index: -1;
         @media (max-width: $md3) {
            width: rem(290);
            height: rem(290);
         }
      }
      &::after {
         content: "";
         position: absolute;
         top: rem(-12);
         left: rem(35);
         border-radius: rem(10);
         width: rem(300);
         height: rem(300);
         @media (max-width: $md3) {
            width: rem(250);
            height: rem(250);
         }
         backdrop-filter: blur(rem(140));
         background: rgba(255, 255, 255, 0.2);
         mix-blend-mode: soft-light;
         z-index: -1;
         pointer-events: none;
      }
   }
   &__content {
   }
}
.content-provide {
   &__title {
      font-family: $fiveFont;
      font-weight: 500;
      opacity: 0;
      transform: translate(0, 50%);
      transition: all 1s ease;
      @include adaptivValue("font-size", 64, 30, 1);
      margin-bottom: rem(24);
      @media (max-width: $md2) {
         margin-bottom: rem(20);
      }
      @media (max-width: $md3) {
         margin-bottom: rem(16);
      }
      @media (max-width: $md4) {
         margin-bottom: rem(12);
      }
   }
   &__text {
      font-family: $secondFont;
      opacity: 0;
      transform: translate(0, 50%);
      transition: all 1s ease 0.1s;
      @include adaptivValue("font-size", 24, 16, 1);
      margin-bottom: rem(40);
      @media (max-width: $md2) {
         margin-bottom: rem(32);
      }
      @media (max-width: $md3) {
         margin-bottom: rem(24);
      }
      @media (max-width: $md4) {
         margin-bottom: rem(18);
      }
   }
   &__button {
      padding: rem(16) rem(24);
      opacity: 0;
      transform: translate(0, 50%);
      transition: transform 1s ease 0.2s, opacity 1s ease 0.2s, color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
      &::after {
         padding-left: rem(7);
      }
   }
}

.content-provide__title._active,
.content-provide__text._active,
.content-provide__button._active {
   opacity: 1;
   transform: translate(0, 0);
}

// ===================================================================

.favorite {
   &__container {
   }
   &__content {
   }
   &__slider {
   }
}
.content-favorite {
   @include adaptivValue("margin-bottom", 144, 30, 1);
   &__title {
      display: inline-block;
      font-family: $fiveFont;
      font-weight: 500;
      @include adaptivValue("font-size", 64, 30, 1);
      line-height: 100%;
      text-transform: uppercase;
      position: relative;
      transform: translate(0, 50%);
      opacity: 0;
      transition: all 1s ease;
      span {
         font-family: $secondFont;
         color: $secondColor;
         &:first-child {
            position: relative;
            &::after {
               content: "";
               width: 110%;
               height: 50%;
               background: radial-gradient(
                  50% 50% at 50% 50%,
                  rgba(255, 255, 255, 0.3) 0%,
                  rgba(255, 255, 255, 0) 100%
               );
               position: absolute;
               top: 100%;
               left: 4%;
            }
         }
      }
   }
}
.slider-favorite {
   &__slider {
      overflow: unset;
      transform: translate(18%, 0px);
      @media (max-width: $md4) {
         transform: translate(0, 0px);
      }
   }
   &__wrapper {
   }
   &__slide {
   }
}
.slide-favorite-slider {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   position: relative;
   max-width: rem(313);
   &__title {
      font-family: $thirdFont;
      font-style: italic;
      font-size: rem(20);
      text-align: right;
      margin-bottom: rem(14);
   }
   &__price {
      font-family: $thirdFont;
      font-style: italic;
      font-size: rem(20);
      line-height: 80%;
      text-align: right;
      color: $secondColor;
      @media (max-width: $md4) {
         position: relative;
         z-index: 3;
      }
   }
   &__image {
      display: inline-block;
      align-self: center;
      @media (max-width: $md4) {
         align-items: flex-start;
      }
      img {
         position: relative;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
         z-index: 2;
      }
   }
   &__background {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      pointer-events: none;
      @media (max-width: $md3) {
         svg {
            width: rem(550);
         }
      }
      @media (max-width: $md4) {
         svg {
            width: rem(450);
         }
      }
   }
}

.content-favorite__title._active {
   transform: translate(0, 0);
   opacity: 1;
}

// ===================================================================

.sponsors {
   &__container {
      max-width: rem(1360);
   }
   &__row {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      @include adaptivValue("column-gap", 80, 30, 1);
      @include adaptivValue("row-gap", 40, 20, 1);
   }
   &__item {
   }
   &__image {
      img {
         position: relative;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
         @media (max-width: $md3) {
            width: rem(80);
         }
         @media (max-width: $md4) {
            width: rem(60);
         }
      }
   }
}

// ===================================================================

.best {
   &__container {
      display: flex;
      align-items: center;
      @include adaptivValue("gap", 61, 0, 1);
      @media (max-width: $md3) {
         flex-direction: column;
         row-gap: rem(30);
      }
   }
   &__content {
   }
   &__image-block {
   }
}
.content-best {
   &__title {
      font-family: $fiveFont;
      font-weight: 500;
      max-width: rem(514);
      opacity: 0;
      transform: translate(0, 50%);
      transition: all 1s ease;
      @include adaptivValue("font-size", 64, 30, 1);
      margin-bottom: rem(24);
      @media (max-width: $md2) {
         margin-bottom: rem(20);
      }
      @media (max-width: $md3) {
         margin-bottom: rem(16);
         max-width: none;
      }
      @media (max-width: $md4) {
         margin-bottom: rem(12);
      }
   }
   &__text {
      font-family: $secondFont;
      max-width: rem(618);
      opacity: 0;
      transform: translate(0, 50%);
      transition: all 1s ease 0.1s;
      @include adaptivValue("font-size", 24, 16, 1);
      margin-bottom: rem(40);
      @media (max-width: $md2) {
         margin-bottom: rem(28);
      }
      @media (max-width: $md3) {
         margin-bottom: rem(20);
         max-width: none;
      }
      @media (max-width: $md4) {
         margin-bottom: rem(16);
      }
   }
   &__button {
      padding: rem(16) rem(24);
      @media (max-width: $md3) {
         padding: rem(12) rem(18);
      }
      opacity: 0;
      transform: translate(0, 50%);
      transition: transform 1s ease 0.2s, opacity 1s ease 0.2s, color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
      &::after {
         padding-left: rem(7);
      }
   }
}
.image-block-best {
   display: flex;
   @include adaptivValue("column-gap", 40, 16, 1);
   position: relative;
   &::before {
      content: "";
      border-radius: rem(419);
      @include adaptivValue("width", 580, 300, 1);
      @include adaptivValue("height", 586, 300, 1);
      filter: blur(rem(250));
      transform: rotate(-71deg);
      mix-blend-mode: hard-light;
      background: radial-gradient(circle, rgba(186, 0, 0, 1) 0%, rgba(186, 0, 0, 0.28) 100%);
      position: absolute;
      top: rem(-10%);
      left: 0;
      z-index: -1;
      pointer-events: none;
   }
   &__column {
      display: flex;
      flex-direction: column;
      @include adaptivValue("row-gap", 28, 12, 1);
      &:first-child {
         align-items: flex-end;
      }
   }
   &__image {
      @media (max-width: $md3) {
         max-width: 70%;
      }
      @media (max-width: $md3) {
         max-width: 80%;
      }
      img {
         position: relative;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
         border-radius: rem(10);
      }
   }
}

.content-best__title._active,
.content-best__text._active,
.content-best__button._active {
   opacity: 1;
   transform: translate(0, 0);
}

// ===================================================================

.visionaries {
   &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (max-width: $md3) {
         flex-direction: column-reverse;
         row-gap: rem(10);
      }
   }
   &__image {
      img {
         position: relative;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   &__content {
   }
}
.content-visionaries {
   flex: 0 1 48%;
   padding-left: rem(30);
   @media (max-width: $md2) {
      flex: 0 1 70%;
   }
   @media (max-width: $md3) {
      flex: 1 1 auto;
      padding-left: 0;
   }
   &__title {
      font-family: $fiveFont;
      font-weight: 500;
      @include adaptivValue("font-size", 48, 30, 1);
      text-transform: uppercase;
      opacity: 0;
      transform: translate(0, 50%);
      transition: all 1s ease;
      span {
         color: $secondColor;
      }
      margin-bottom: rem(32);
      @media (max-width: $md2) {
         margin-bottom: rem(28);
      }
      @media (max-width: $md3) {
         margin-bottom: rem(24);
      }
      @media (max-width: $md4) {
         margin-bottom: rem(20);
      }
   }
   &__text-block {
      margin-bottom: rem(32);
      @media (max-width: $md2) {
         margin-bottom: rem(28);
      }
      @media (max-width: $md3) {
         margin-bottom: rem(24);
      }
      @media (max-width: $md4) {
         margin-bottom: rem(20);
      }
   }
   &__text {
      font-family: $secondFont;
      text-transform: capitalize;
      font-style: normal;
      opacity: 0;
      transform: translate(-40%, 0);
      span {
         font-family: $fourFont;
         font-weight: 900;
      }
      &:first-child {
         margin-bottom: rem(32);
         transform: translate(0, 50%);
         transition: all 1.5s ease 0.1s;
         @media (max-width: $md2) {
            margin-bottom: rem(24);
         }
         @media (max-width: $md3) {
            margin-bottom: rem(20);
         }
         @media (max-width: $md4) {
            margin-bottom: rem(16);
         }
      }
      margin-bottom: rem(24);
      @media (max-width: $md2) {
         margin-bottom: rem(20);
      }
      @media (max-width: $md3) {
         margin-bottom: rem(16);
      }
      @media (max-width: $md4) {
         margin-bottom: rem(12);
      }
   }
   &__button {
      padding: rem(12) rem(24);
      opacity: 0;
      transform: translate(0, 50%);
      transition: transform 1s ease 0.5s, opacity 1s ease 0.5s, color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
      @media (max-width: $md4) {
         transition: transform 1s ease 0.2s, opacity 1s ease 0.2s, color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
      }
      &:after {
         padding-left: rem(7);
      }
   }
}

.content-visionaries__title._active,
.content-visionaries__button._active {
   opacity: 1;
   transform: translate(0, 0);
}

.content-visionaries__text-block._active {
   & .content-visionaries__text:nth-child(2) {
      transition: all 1.5s ease 0.2s;
   }
   & .content-visionaries__text:nth-child(3) {
      transition: all 1.5s ease 0.3s;
   }
   & .content-visionaries__text:nth-child(4) {
      transition: all 1.5s ease 0.4s;
   }
}

.content-visionaries__text-block._active .content-visionaries__text {
   opacity: 1;
   transform: translate(0, 0);
}

// ===================================================================

.join {
   &__container {
      display: flex;
      justify-content: center;
   }
   &__main-block {
   }
}
.main-block-join {
   display: flex;
   align-items: center;
   gap: rem(40);
   padding: rem(65) rem(40) rem(65) rem(40);
   max-width: rem(1200);
   border: rem(1) solid #fff;
   border-radius: rem(10);
   backdrop-filter: blur(rem(4));
   position: relative;
   @media (max-width: $md2) {
      gap: rem(20);
      padding: rem(45) rem(25) rem(45) rem(25);
   }
   @media (max-width: $md3) {
      padding: rem(35) rem(20) rem(35) rem(20);
   }
   &__content {
   }
   &__title {
      font-family: $fiveFont;
      font-weight: 500;
      @include adaptivValue("font-size", 48, 30, 1);
      margin-bottom: rem(16);
      opacity: 0;
      transform: translate(0, 50%);
      transition: all 1s ease;
      @media (max-width: $md4) {
         margin-bottom: rem(12);
      }
   }
   &__text {
      font-family: $secondFont;
      @include adaptivValue("font-size", 24, 16, 1);
      text-transform: capitalize;
      margin-bottom: rem(32);
      opacity: 0;
      transform: translate(0, 50%);
      transition: all 1s ease 0.1s;
      @media (max-width: $md2) {
         margin-bottom: rem(26);
      }
      @media (max-width: $md3) {
         margin-bottom: rem(20);
      }
      @media (max-width: $md4) {
         margin-bottom: rem(16);
      }
   }
   &__button {
      padding: rem(12) rem(24);
      opacity: 0;
      transform: translate(0, 50%);
      transition: transform 1s ease 0.3s, opacity 1s ease 0.3s, color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
      &:after {
         padding-left: rem(7);
      }
   }
   &__image {
      @media (max-width: $md3) {
         display: none;
      }
      img {
         position: relative;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   &__decor {
      @include adaptivValue("width", 800, 300, 1);
      opacity: 0;
      transform: translate(3%, 0);
      transition: all 1s ease 0.4s;
      position: absolute;
      bottom: -65%;
      right: -29%;
      @media (max-width: $md1) {
         bottom: -50%;
      }
      @media (max-width: $md2) {
         bottom: -40%;
      }
      @media (max-width: $md4) {
         bottom: -25%;
      }
      img {
         position: relative;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
}

.main-block-join__title._active,
.main-block-join__text._active,
.main-block-join__button._active,
.main-block-join__decor._active {
   opacity: 1;
   transform: translate(0, 0);
}

// ===================================================================

.advantage {
   &__container {
   }
   &__title {
      display: none;
      opacity: 0;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
   }
   &__columns {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      row-gap: rem(30);
   }
   &__column {
   }
}
.column-advantage {
   display: flex;
   align-items: center;
   gap: rem(16);
   flex: 1 1 rem(230);
   opacity: 0;
   transform: translate(-50%, 0);
   transition: all 1s ease;
   &__icon {
      font-size: rem(20);
   }
   &__content {
   }
   &__title {
      font-family: $fourFont;
      font-weight: 900;
      text-transform: capitalize;
      margin-bottom: rem(8);
      font-style: normal;
   }
   &__text {
      font-family: $secondFont;
      text-transform: capitalize;
      font-style: normal;
   }
}

.advantage__columns._active {
   & .column-advantage:nth-child(1) {
      transition-delay: 0s;
   }
   & .column-advantage:nth-child(2) {
      transition-delay: 0.1s;
   }
   & .column-advantage:nth-child(3) {
      transition-delay: 0.2s;
   }
   & .column-advantage:nth-child(4) {
      transition-delay: 0.3s;
   }
}

.advantage__columns._active .column-advantage {
   opacity: 1;
   transform: translate(0, 0);
}
